@model EShop.Domain.Domain.Publishers

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Publishers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
       @*  <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.AuthorId)
        </dd> *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
